.sidebar{
    margin-top: 10px;
    max-width: 180px;
    margin-left: 10px;
    padding-left: 5px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
}

.sidebar:hover .nav-item p {
  width: auto;
  opacity: 1;
  margin-left: 5px;
}

.sidebar_icons{
    width: 30px;
    height: 30px;
}

.profile-image{
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-item.active .sidebar_icons,
.nav-item.active .profile-image {
  filter: drop-shadow(0 0 6px rgba(24, 119, 242, 0.9));
}

.nav-item.active p {
  font-weight: 700;
}

.sidebar-bottom{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}

.nav-item p {
  margin: 0;
  width: 0;             
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease;  
}

.nav-item.extended p {
  width: auto;       
  opacity: 1;
  margin-left: 5px;   
}