.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px 0px 10px;
}

.actions{
    display: flex;
    align-items: center;
    gap: 15px;
}

.create-btn{
    background: black;
    color: white;
    font-family: Satoshi;
    font-size: 13px;
    font-weight: 600;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.lgn-btn{
    background: white;
    color: black;
    font-family: Satoshi;
    font-size: 13px;
    font-weight: 600;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.landing-btn-secondary {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.landing-btn-secondary:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}