.brand-section{
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.section-brands {
  background-color: white;
}

.section-brands p {
  max-width: 250px;
  font-size: 20px;
  font-family: Satoshi;
  font-weight: 500;
}

.brands {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  padding: 5px 60px;
  align-items: center;
  margin-bottom: 40px; 
}

.brands-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  animation: scroll 24s linear infinite;
  border: 1px solid black;
}

.logoPreview {
  max-width: 100px;
}

.brands-wrapper {
  height: 110px;
  width: 120px;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px auto;
  max-width: 900px;
}

.info-table th {
  font-size: 22px;
  font-weight: 600;
  padding: 16px;
  border-bottom: 2px solid black;
}

.info-table td {
  padding: 16px;
  font-size: 14px;
  color: #555;
  text-align: left;
}

.info-table th,
.info-table td {
  border-right: 2px solid black;
  font-size: 20px;
}

.info-table th:last-child,
.info-table td:last-child {
  border-right:rgba(0, 0, 0, 0.15);
}

.project-Merch{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

.project-left{
    display: flex;
    flex-direction: column;
}

.project-logo{
    max-width: 400px;
    border: 1px solid black;
}